


    .set-country
    {

        padding: 12px;
    border-radius: 15px;
    font-size: 1.2rem;
}


@media only screen and (max-width: 768px) {
 

.set-shark {
    text-align: center;
    max-width: 50%;
    margin-top: 10px !important;
}

.set-center{
	text-align: center !important;
}

.set-country {
    padding: 10px;
    width: 100%;
    border-radius: 15px;
}

div#pie-chart {
    width: 100% !important;
}

.set-box{
	padding-left: 2rem!important;
}

div#gauge {
    padding-left: 7px;
}

.set-box{
	margin-left: 10px !important;
}

.set-box1{
	margin-left: 7px !important;
}

.navbar-toggler {
    
    background-color: antiquewhite !important;
    color: #000;
    
}
}