/*****************************TAGS**********************************/
a {
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-decoration: none;
}

body {
  font-family: 'Montserrat';
  padding: 0;
  margin: 0;
}

h1 {
  color: white;
  font-family: 'Montserrat';
  font-size: 2rem;
  line-height: 1.2;
  margin-left: 8%;
}

html, body { 
  height: 100%; 
}


/*****************************CLASS**********************************/
.animated-left {
  height: auto;
  width: auto;
  padding-top: 2%;
}

.animated-right {
  height: auto;
  width: auto;
  margin: auto;
  padding-bottom: 98%;
}

.container-fluid {
padding: 1% 15% 3%;

}

.navbar {
  padding: 8.3% 0 10%;
}

.navbar-color {
  background-color: rgba(0, 0, 0, 0);
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: white;
  font-weight: bold;
}

/*****************************ID**********************************/
#map{
  height: 43.75rem; 
  opacity: 0.8;
  border: 5px solid white;
}
